@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rosarivo:ital@0;1&display=swap');
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

body {
  font-family: 'Poppins', sans-serif;
}
.rosarivo {
  font-family: "Rosarivo", cursive;
}

.green {
  color: #04B793;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner h1 {
  font-family: "Montserrat", sans-serif;
 
}

.navbar-scroll .nav-link:hover {
  color: #1266f1;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  background-color: #eee;
}


.nav-link {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 10px;
}

.nav-item .nav-link:hover {
  border-bottom: 4px solid #7EF2DBCC;
  color: #000000;
}

.container-fluid {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.icons {
  font-size: 20px;
  font-weight: 600;
}

.footer h2 {
  font-size: 22px;
  letter-spacing: 0.6px;
  font-weight: 400;
}

.footer a{
  color: #F8F9FA80;
  text-decoration: none;
}
.footer p, .footer span{
  color: #F8F9FA80;
  text-decoration: none;
}

.gallery img {
  object-fit: cover;
}

.banner ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.contact ul li {
  list-style-type: none;
  margin-bottom: 20px;
}

.contact h2 {
  font-size: 28px;
  font-weight: 500;
}

.contact p {
  font-size: 20px;
}